.ball {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: red;
  position: relative;

  animation-name: example-two;
  animation-duration: 15s;
  animation-delay: 2s;
}

@keyframes example-one {
  from {
    background-color: blueviolet;
  }
  to {
    background-color: antiquewhite;
  }
}

@keyframes example-two {
  0% {
    background-color: blueviolet;
    left: 0;
    top: 0;
  }

  25% {
    background-color: aquamarine;
    left: 800px;
    top: 0;
  }

  50% {
    background-color: chocolate;
    left: 800px;
    top: 800px;
  }

  75% {
    background-color: blue;
    left: 0px;
    top: 800px;
  }

  100% { 
    background-color: black;
    left: 0px;
    top: 0px;
  }
}