.ball {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: red;
  position: relative;

  animation-name: example-one;
  animation-duration: 2s;
  animation-name: example-two;
  animation-duration: 8s;
}

@keyframes example-one {
  from {
    background-color: blueviolet;
  }
  to {
    background-color: antiquewhite;
  }
}

@keyframes example-two {
  0% {
    background-color: blueviolet;
  }

  25% {
    background-color: aquamarine;
  }

  50% {
    background-color: chocolate;
  }

  100% { 
    background-color: black;
  }
}