body {
  display: contents;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.box-red,
.box-green {
  display: inline-flex;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.box-red {
  background-color:#f00;
  transition: all 3s ease 2s;
}

body:hover .box-red {
  background-color: #00f;
  transition-property: background-color, width;
  transition-duration: 3s;
  width: 200px;
  transition-timing-function: ease-in;
  transition-delay: 2s;
}

.box-green {
  background-color:#0f0;
  transition: all 1s linear 2s;
}

body:hover .box-green {
  transition: all 1s cubic-bezier(0.29, 1.01, 1, -0.68);
  background-color: rgb(242, 248, 192);
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.line {
  width: 100%;
  background-color: blue;
  height: 25px;
  margin-bottom: 10px;

  transition: width;
  transition-duration: 1s;
}

body:hover .line {
  width: 20px;
  background-color: rgb(255, 0, 0);
}

.ease {
  transition-timing-function: ease;
}

.cube {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-out {
  transition-timing-function: ease-out;
}